body {

    font-family: urbanist;
    margin: 0%;
}

@font-face {
    font-family: urbanist;
    src: url(../Resurse/Font/Urbanist-VariableFont_wght.ttf);
}


.main {
    display: grid;
    grid-template-rows: repeat(8, auto);
}

.meniu {
    display: grid;
    grid-template-columns: 3em 10em auto 8em 11em 3em;
    padding-top: 1.5em;
}

.meniu div {
    font-weight: 500;
    font-size: 2em;
    text-align: center;
}

.render {
    height: 22em;
    margin-left: auto;
    margin-right: auto;
    width: 99vw;
}

.denumire {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}


.detalii {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;

}

.detalii .item {
    height: 8em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10vw;

    background-color: #f1f2f6;
    text-align: center;
    align-items: center;

    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-bottom: 1em;

    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;


}

.item:hover {
    color: rgba(0, 0, 0, 0.767);
    background-color: #f1f2f6a1;
}

.imag {
    object-fit: cover;
    width: 4em;
    height: 4em;

}

.programare {

    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
    margin-bottom: 4em;

    font-size: 1.7em;

    padding-top: 0.7em;
    padding-bottom: 0.7em;

    padding-left: 1.5em;
    padding-right: 1.5em;
    width: fit-content;
    background-color: #f0942be8;

}

.programare:hover {

    color: rgba(0, 0, 0, 0.767);
    background-color: #f0942bda;

}

body::-webkit-scrollbar {
    width: 17px;
}

body::-webkit-scrollbar-thumb {
    background-color: #d7ceda;
    border-radius: 10px;
    border: 5px solid white;
}

#page-mask {
    background: rgba(0, 0, 0, 0.308);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    
}

.popup{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;

    width: 35em;
    height: 25em;
    background-color: rgb(235, 234, 228);

    font-size: 1.4em;
    text-align: center;
    overflow: auto;
    
    display: none;
    

}

.popup > .close{
    float: right;
}

.total{

    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7em;

}

.link{

    background-color: wheat;
    
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    padding-right: 1em;

    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    column-gap: 2em;
    align-items: center;
    font-size: 1em;
}

#copy{

    font-size: 1.3em;

    padding-top: 0.7em;
    padding-bottom: 0.7em;

    padding-left: 1em;
    padding-right: 1em;
    width: fit-content;
    background-color: #e7aa64e8;

}

#url {

    flex: 1 1 auto;

    width: fit-content;


    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
}

#copy:hover {

    color: rgba(0, 0, 0, 0.767);
    background-color: #f0942bda;

}